{{ with .Site.Social.github }}
<td><a href="//github.com/{{.}}" target="_blank" title="GitHub"><i class="fab fa-github"></i></a></td>
{{ end }}

{{ with .Site.Social.gitlab }}
<td><a href="//gitlab.com/u/{{.}}" target="_blank" title="GitLab"><i class="fab fa-gitlab"></i></a></td>
{{ end }}

{{ with .Site.Social.bitbucket }}
<td><a href="//bitbucket.com/{{.}}" target="_blank" title="Bitbucket"><i class="fab fa-bitbucket"></i></a></td>
{{ end }}

{{ with .Site.Social.jsfiddle }}
<td><a href="//jsfiddle.net/user/{{.}}" target="_blank" title="JSFiddle"><i class="fab fa-jsfiddle"></i></a></td>
{{ end }}

{{ with .Site.Social.codepen }}
<td><a href="//codepen.io/{{.}}" target="_blank" title="CodePen"><i class="fab fa-codepen"></i></a></td>
{{ end }}

{{ with .Site.Social.foursquare }}
<td><a href="//foursquare.com/{{.}}" target="_blank" title="Foursquare"><i class="fab fa-foursquare"></i></a></td>
{{ end  }}

{{ with .Site.Social.dribbble }}
<td><a href="//dribbble.com/{{.}}" target="_blank" title="Dribbble"><i class="fab fa-dribbble"></i></a></td>
{{ end }}

{{ with .Site.Social.deviantart }}
<td><a href="//{{.}}.deviantart.com/" target="_blank" title="DeviantArt"><i class="fab fa-deviantart"></i></a></td>
{{ end }}

{{ with .Site.Social.behance }}
<td><a href="//behance.net/{{.}}" target="_blank" title="Behance"><i class="fab fa-behance"></i></a></td>
{{ end }}

{{ with .Site.Social.flickr }}
<td><a href="//flickr.com/photos/{{.}}" target="_blank" title="Flickr"><i class="fab fa-flickr"></i></a></td>
{{ end }}

{{ with .Site.Social.instagram }}
<td><a href="//instagram.com/{{.}}" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></td>
{{ end }}

{{ with .Site.Social.youtube }}
<td><a href="//youtube.com/{{.}}" target="_blank" title="YouTube"><i class="fab fa-youtube"></i></a></td>
{{ end }}

{{ with .Site.Social.vimeo }}
<td><a href="//vimeo.com/{{.}}" target="_blank" title="Vimeo"><i class="fab fa-vimeo"></i></a></td>
{{ end }}

{{ with .Site.Social.vine }}
<td><a href="//vine.co/{{.}}" target="_blank" title="Vine"><i class="fab fa-vine"></i></a></td>
{{ end }}

{{ with .Site.Social.medium}}
<td><a href="//medium.com/@{{.}}" target="_blank" title="Medium"><i class="fab fa-medium"></i></a></td>
{{ end }}

{{ with .Site.Social.wordpress }}
<td><a href="//{{.}}.wordpress.com" target="_blank" title="WordPress"><i class="fab fa-wordpress"></i></a></td>
{{ end }}

{{ with .Site.Social.tumblr }}
<td><a href="//{{.}}.tumblr.com" target="_blank" title="Tumblr"><i class="fab fa-tumblr"></i></a></td>
{{ end }}

{{ with .Site.Social.xing }}
<td><a href="//xing.com/profile/{{.}}" target="_blank" title="Xing"><i class="fab fa-xing"></i></a></td>
{{ end }}

{{ with .Site.Social.linkedin }}
<td><a href="//linkedin.com/in/{{.}}" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a></td>
{{ end }}

{{ with .Site.Social.slideshare }}
<td><a href="//slideshare.com/{{.}}" target="_blank" title="SlideShare"><i class="fab fa-slideshare"></i></a></td>
{{ end }}

{{ with .Site.Social.stackoverflow }}
<td><a href="//stackoverflow.com/users/{{.}}" target="_blank" title="Stack Overflow"><i class="fab fa-stack-overflow"></i></a></td>
{{ end }}

{{ with .Site.Social.reddit }}
<td><a href="//reddit.com/user/{{.}}" target="_blank" title="Reddit"><i class="fab fa-reddit"></i></a></td>
{{ end }}

{{ with .Site.Social.pinterest }}
<td><a href="//pinterest.com/{{.}}" target="_blank" title="Pinterest"><i class="fab fa-pinterest"></i></a></td>
{{ end }}

{{ with .Site.Social.googleplus }}
<td><a href="//plus.google.com/+{{.}}" target="_blank" title="Google+"><i class="fab fa-google-plus"></i></a></td>
{{ end }}

{{ with .Site.Social.facebook }}
<td><a href="//facebook.com/{{.}}" target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a></td>
{{ end }}

{{ with .Site.Social.twitter }}
<td><a href="//twitter.com/{{.}}" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></td>
{{ end }}

{{ with .Site.Social.googlescholar }}
<td><a href="//scholar.google.com/citations?user={{.}}" target="_blank" title="Google Scholar"><i class="ai ai-google-scholar"></i></a></td>
{{ end }}

{{ with .Site.Social.orcid }}
<td><a href="//orcid.org/{{.}}" target="_blank" title="ORCID"><i class="ai ai-orcid"></i></a></td>
{{ end }}

{{ with .Site.Social.researchgate }}
<td><a href="//www.researchgate.net/profile/{{.}}" target="_blank" title="Research Gate"><i class="ai ai-researchgate"></i></a></td>
{{ end }}

{{ with .Site.Social.email }}
<li><a href="mailto:{{.}}" title="Email" class="fas fa-envelope"></a></li>
{{ end }}

